body {
    background: #ceac7d;
    box-sizing: border-box;
    font-family: sans-serif;
    text-align: center;
    font-size: 2em;
}

.container {
    margin: 60px auto;
    display: flex;/* flex property*/
    flex-direction: column; /* horizontal axes */
    border: 4px solid purple;
}

.item {
    padding: 18px;
    background: salmon;
    border: 4px solid purple;
    flex: 1 1 auto;
}

/* .home {
    background: salmon;
    flex: 1 1 100px; will stop growing after 100px
}

.contact {
    background: lightblue;
    flex: 1 1 300px;  will stop growing after 300px 
}

.about {
    background: greenyellow;
    flex: 1 1 10px;  will stop growing after 10px 
}
*/