body {
    background: #f3e4cf;
    box-sizing: border-box;
    font-family: sans-serif;
    text-align: center;
    font-size: 2em;
}

.container {
    border: 6px solid #cdb28f;
    display: flex;/* flex property*/
    margin: 100px;
    
}

.item {
    padding: 18px;
    flex: 1;
}

.home {
    background: salmon;
    flex: 1 1 100px;/* will stop growing after 100px*/
}

.contact {
    background: lightblue;
    flex: 1 1 300px; /* will stop growing after 300px */
}

.about {
    background: greenyellow;
    flex: 1 1 10px; /* will stop growing after 10px */
}